![Logo](https://www.up.edu.mx/wp-content/themes/panamericana/img/logo-footer.png)

# **Examen Final: Modelado score crediticio**

## **Asignatura:** Aprendizaje para grandes datos  
## **Profesor:** Raúl Martínez Noriega

---

**Nombre del Alumno:**  
Luis Enrique Noguera Gil

**Fecha de entrega:**  
09 de diciembre de 2024

# Auto reload modules

In [2]:
%load_ext autoreload
%autoreload 2

# Directories

In [3]:
# import findspark
# findspark.init()

import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import fs
import os

In [4]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "../../spark-3.5.3-bin-hadoop3"

In [5]:
import findspark
findspark.init()

Preparación del ambiente de Spark

In [6]:
spark = (SparkSession.builder
  .master('local[*]')
  .appName('hello_world_spark')
  .getOrCreate())

cores = spark._jsc.sc().getExecutorMemoryStatus().keySet().size()
print("You are working with", cores, "core(s)")
spark

24/12/09 19:34:00 WARN Utils: Your hostname, ThinkPad-X1-Nano resolves to a loopback address: 127.0.1.1; using 172.29.80.33 instead (on interface wlp0s20f3)
24/12/09 19:34:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/09 19:34:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

You are working with 1 core(s)

In [7]:
sc = spark.sparkContext

Mejorar la lectura de las tablas

In [8]:
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

Cargar archivos usando la librería fs para que sea agnóstico a cualquier ambiente distribuido o local.

In [21]:
RAW_DIR = fs.open_fs("../../data/raw")
CSV_DIR = RAW_DIR.getsyspath("score_de_credito.csv")

REPORTS_DIR = fs.open_fs("../../reports")

In [10]:
filePath = CSV_DIR

rawDF = spark.read.csv(filePath,
                       header="true",
                       inferSchema="true",
                       multiLine="true",
                       escape='"')

rawDF.show(3, truncate=False)

24/12/09 19:35:33 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+------+-----------+--------+-------------+----+-----------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+---------------------+-------------------+-----------------------+-------------------------------+------------------+------------+
|ID    |Customer_ID|Month   |Name         |Age |SSN        |Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Type_of_Loan                                                       |Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age   |Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|Payment_Behaviour              |Monthly_Balance   |Credit_Score|
+------+-----------+--------+-------------+----+-----------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+---------------------+-------------------+-----------------------+-------------------------------+------------------+------------+
|0x1602|CUS_0xd40  |January |Aaron Maashoh|23  |821-00-0265|Scientist |19114.12     |1824.8433333333328   |3                |4              |3            |4          |Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan|3                  |7                     |11.27               |4.0                 |_         |809.98          |26.822619623699016      |22 Years and 1 Months|No                   |49.57494921489417  |80.41529543900253      |High_spent_Small_value_payments|312.49408867943663|Good        |
|0x1603|CUS_0xd40  |February|Aaron Maashoh|23  |821-00-0265|Scientist |19114.12     |NULL                 |3                |4              |3            |4          |Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan|-1                 |NULL                  |11.27               |4.0                 |Good      |809.98          |31.94496005538421       |NA                   |No                   |49.57494921489417  |118.28022162236736     |Low_spent_Large_value_payments |284.62916249607184|Good        |
|0x1604|CUS_0xd40  |March   |Aaron Maashoh|-500|821-00-0265|Scientist |19114.12     |NULL                 |3                |4              |3            |4          |Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan|3                  |7                     |_                   |4.0                 |Good      |809.98          |28.60935202206993       |22 Years and 3 Months|No                   |49.57494921489417  |81.699521264648        |Low_spent_Medium_value_payments|331.2098628537912 |Good        |
+------+-----------+--------+-------------+----+-----------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+---------------------+---------------------+-------------------+-----------------------+-------------------------------+------------------+------------+
only showing top 3 rows

# EDA

# Hack Usando python

Generación de Profiling de python para ahorrar tiempo. Esto se asume que se está tomando una muestra de un set de datos muy grande.

In [ ]:
df = rawDF.toPandas()
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NA,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [ ]:
from ydata_profiling import ProfileReport
Profile_DIR = REPORTS_DIR.getsyspath("EDA_REPORT_DIR")

#Generate Profile Report
report = ProfileReport(df, title= 'Report', html={'style':{'full_width':True}})
report.to_file(output_file=Profile_DIR)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

# Usando PySpark

1. ¿Cuántos registros hay?

In [12]:
rawDF.count()

100000

¿Habrá duplicados?

In [14]:
rawDF.dropDuplicates()
rawDF.count()

100000

No los hay.

¿Qué tipo de datos se tiene?

In [15]:
rawDF.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Customer_ID: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Annual_Income: string (nullable = true)
 |-- Monthly_Inhand_Salary: double (nullable = true)
 |-- Num_Bank_Accounts: integer (nullable = true)
 |-- Num_Credit_Card: integer (nullable = true)
 |-- Interest_Rate: integer (nullable = true)
 |-- Num_of_Loan: string (nullable = true)
 |-- Type_of_Loan: string (nullable = true)
 |-- Delay_from_due_date: integer (nullable = true)
 |-- Num_of_Delayed_Payment: string (nullable = true)
 |-- Changed_Credit_Limit: string (nullable = true)
 |-- Num_Credit_Inquiries: double (nullable = true)
 |-- Credit_Mix: string (nullable = true)
 |-- Outstanding_Debt: string (nullable = true)
 |-- Credit_Utilization_Ratio: double (nullable = true)
 |-- Credit_History_Age: string (nullable = true)
 |-- Payment_of_Min_Amount: string (nullable = true)
 |-- Total_EMI_per_month: double (nullable = true)
 |-- Amount_invested_monthly: string (nullable = true)
 |-- Payment_Behaviour: string (nullable = true)
 |-- Monthly_Balance: string (nullable = true)
 |-- Credit_Score: string (nullable = true)

Vamos a seleccionar las variables que me interesan analizar, ya que por tiempo no se pueden revisar minuciosamente todas.

In [16]:
rawDF.columns

['ID',
 'Customer_ID',
 'Month',
 'Name',
 'Age',
 'SSN',
 'Occupation',
 'Annual_Income',
 'Monthly_Inhand_Salary',
 'Num_Bank_Accounts',
 'Num_Credit_Card',
 'Interest_Rate',
 'Num_of_Loan',
 'Type_of_Loan',
 'Delay_from_due_date',
 'Num_of_Delayed_Payment',
 'Changed_Credit_Limit',
 'Num_Credit_Inquiries',
 'Credit_Mix',
 'Outstanding_Debt',
 'Credit_Utilization_Ratio',
 'Credit_History_Age',
 'Payment_of_Min_Amount',
 'Total_EMI_per_month',
 'Amount_invested_monthly',
 'Payment_Behaviour',
 'Monthly_Balance',
 'Credit_Score']

¿Hay clientes repetidos?

In [19]:
rawDF.select("Customer_ID").distinct().count()

12500

In [20]:
rawDF.select("Customer_ID").count()

100000

Por lo tanto hay 12,500 clientes.

¿Hay datos faltantes? Pero aquí mejor dicho serán datos nulos previamente definidos ya que hay datos incorrectos en el set de datos, que no serán marcados como nulos.

Referencia https://stackoverflow.com/questions/44627386/how-to-find-count-of-null-and-nan-values-for-each-column-in-a-pyspark-dataframe

In [36]:
(
    rawDF
    .select([F.count(F.when(F.isnull(c), c)).alias(c) for c in rawDF.columns])
).show()

+---+-----------+-----+----+---+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+-----------------+---------------+------------+
| ID|Customer_ID|Month|Name|Age|SSN|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|Payment_Behaviour|Monthly_Balance|Credit_Score|
+---+-----------+-----+----+---+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+-----------------+---------------+------------+
|  0|          0|    0|9985|  0|  0|         0|            0|                15002|                0|              0|            0|          0|       11408|                  0|                  7002|                   0|                1965|         0|               0|                       0|                 0|                    0|                  0|                   4479|                0|           1200|           0|
+---+-----------+-----+----+---+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+------------------+---------------------+-------------------+-----------------------+-----------------+---------------+------------+

In [ ]:
(
    rawDF
    .summary()    
).show()

+-------+-------+-----------+------+------+------------------+-----------+----------+------------------+---------------------+------------------+------------------+------------------+-----------------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+------------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+--------------------+------------+
|summary|     ID|Customer_ID| Month|  Name|               Age|        SSN|Occupation|     Annual_Income|Monthly_Inhand_Salary| Num_Bank_Accounts|   Num_Credit_Card|     Interest_Rate|      Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|  Outstanding_Debt|Credit_Utilization_Ratio|  Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|     Monthly_Balance|Credit_Score|
+-------+-------+-----------+------+------+------------------+-----------+----------+------------------+---------------------+------------------+------------------+------------------+-----------------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+------------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+--------------------+------------+
|  count| 100000|     100000|100000| 90015|            100000|     100000|    100000|            100000|                84998|            100000|            100000|            100000|           100000|               88592|             100000|                 92998|              100000|               98035|    100000|            100000|                  100000|              100000|               100000|             100000|                  95521|              100000|               98800|      100000|
|   mean|   NULL|       NULL|  NULL|  NULL|110.93450521244253|       NULL|      NULL|178578.96419941346|    4194.170849600323|          17.09128|          22.47443|          72.46604|2.780339232263824|                NULL|           21.06878|    31.033051166707292|  10.389025115157766|   27.75425103279441|      NULL|  1426.50370013437|       32.28517251894346|                NULL|                 NULL| 1403.1182166159347|     195.53945602655148|                NULL|   402.5512581105171|        NULL|
| stddev|   NULL|       NULL|  NULL|  NULL| 689.4078643530435|       NULL|      NULL| 1442878.388969455|   3183.6861668732463|117.40483442734838|129.05741011009877|466.42262122171525|62.50094029960761|                NULL| 14.860104223678087|    226.95575777044624|   6.789496202377789|   193.1773389800322|      NULL|1155.0457527707683|       5.116875070150886|                NULL|                 NULL|    8306.0412703217|     199.56452699813482|                NULL|  213.92549893102628|        NULL|
|    min|0x10002| CUS_0x1000| April| Mattr|              -500|  #F%$D@*&8|Accountant|        10001727.0|    303.6454166666666|                -1|                 0|                 1|             -100|           Auto Loan|                 -5|                    -1|-0.00999999999999...|                 0.0|       Bad|              0.23|                    20.0|0 Years and 1 Months|                   NM|                0.0|                    0.0|              !@9#%8|0.007759664775335295|        Good|
|    25%|   NULL|       NULL|  NULL|  NULL|              24.0|       NULL|      NULL|          19433.48|   1625.5583333333334|                 3|                 4|                 8|              1.0|                NULL|                 10|                   9.0|                5.33|                 3.0|      NULL|            566.05|      28.052567592632023|                NULL|                 NULL| 30.306459807207013|      72.22309241212979|                NULL|    270.092502051969|        NULL|
|    50%|   NULL|       NULL|  NULL|  NULL|              33.0|       NULL|      NULL|          37547.68|   3091.3866666666668|                 6|                 5|                13|              3.0|                NULL|                 18|                  14.0|                 9.4|                 6.0|      NULL|           1166.23|       32.30402291675685|                NULL|                 NULL|  69.23716233825547|     128.92859016650021|                NULL|   336.7124940705778|        NULL|
|    75%|   NULL|       NULL|  NULL|  NULL|              42.0|       NULL|      NULL|          72817.88|    5956.009999999998|                 7|                 7|                20|              5.0|                NULL|                 28|                  18.0|               14.86|                 9.0|      NULL|           1946.81|       36.49591119480094|                NULL|                 NULL| 161.16319867530373|      236.7664299209694|                NULL|  470.18081605443666|        NULL|
|    max| 0xfffd|  CUS_0xffd|   May|    yv|               995|999-99-3421|   _______|          99995.22|   15204.633333333333|              1798|              1499|              5797|               9_|Student Loan, and...|                 67|                    9_|                   _|              2597.0|         _|            999.48|       50.00000000000001|                  NA|                  Yes|            82331.0|              __10000__|Low_spent_Small_v...|__-33333333333333...|    Standard|
+-------+-------+-----------+------+------+------------------+-----------+----------+------------------+---------------------+------------------+------------------+------------------+-----------------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+------------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+--------------------+------------+

Primero hay que validar cúantos datos por cliente tenemos.

In [42]:
(
    rawDF
    .groupBy("Customer_ID")
    .count()
).show()

+-----------+-----+
|Customer_ID|count|
+-----------+-----+
| CUS_0x33d2|    8|
|  CUS_0xc65|    8|
| CUS_0x36ab|    8|
| CUS_0x7250|    8|
| CUS_0x9e13|    8|
|  CUS_0xf6c|    8|
| CUS_0x80b3|    8|
| CUS_0x42fb|    8|
| CUS_0x5479|    8|
| CUS_0x834f|    8|
| CUS_0x74f9|    8|
| CUS_0x684a|    8|
| CUS_0x63e0|    8|
| CUS_0x4e0d|    8|
| CUS_0x9f4c|    8|
| CUS_0xa980|    8|
| CUS_0x6371|    8|
| CUS_0x878c|    8|
| CUS_0xc064|    8|
| CUS_0x74c9|    8|
+-----------+-----+
only showing top 20 rows

¿Cuántos meses hay?

In [43]:
(
    rawDF
    .groupBy("Month")
    .count()
).show()

+--------+-----+
|   Month|count|
+--------+-----+
|    July|12500|
|February|12500|
| January|12500|
|   March|12500|
|     May|12500|
|  August|12500|
|   April|12500|
|    June|12500|
+--------+-----+

Hay 8 meses y en todos hay datos, pero no todos son correctos. Por tanto necesito identificar aquellos clientes que tienen toda la información correcta.

Vamos a eliminar variables que no tienen sentido. O bien, filtrar los datos que son plausibles de ser reales.

In [54]:
Float_cols = ["Annual_Income", "Monthly_Inhand_Salary", "Num_Bank_Accounts", "Num_Credit_Card", "Interest_Rate", "Num_of_Loan",
              "Delay_from_due_date", "Num_of_Delayed_Payment", "Changed_Credit_Limit", "Num_Credit_Inquiries",
              "Outstanding_Debt","Credit_Utilization_Ratio", "Total_EMI_per_month", "Amount_invested_monthly", 
              "Payment_Behaviour","Monthly_Balance"]

In [ ]:
String_cols = ["Month", "Occupation"]

Referencia https://stackoverflow.com/questions/53743795/how-to-check-if-a-string-column-in-pyspark-dataframe-is-all-numeric

In [101]:
rawDF_filtered = (
    rawDF
    .filter(
        # Tomando edades reales o plausibles o sin errores
        (F.col("Age").between(15, 80)),
    )
    # Tomando Valores que sean String
    .filter(
        (F.col("Month").cast("string").isNotNull())
    )
    .filter(
        (F.col("Occupation").cast("string").isNotNull())
    )
    # Se omite, puesto que quita muchos clientes dejarla lo reduce a 13
    # .filter(
    #     (F.col("Credit_Mix").cast("string").isNotNull()) & 
    #     (F.col("Credit_Mix") != "_")
    # )
    # Tomando Valores que sean flotantes
    .filter(
        (F.col("Annual_Income").cast("float").isNotNull())
    )
.   filter(
        (F.col("Annual_Income").cast("float").isNotNull())
    )
    .filter(
        (F.col("Monthly_Inhand_Salary").cast("float").isNotNull())
    )
    .filter(
        (F.col("Num_Bank_Accounts").cast("float").isNotNull())
    )
    .filter(
        (F.col("Num_Credit_Card").cast("float").isNotNull())
    )
    .filter(
        (F.col("Interest_Rate").cast("float").isNotNull())
    )
    .filter(
        (F.col("Num_of_Loan").cast("float").isNotNull())
    )
    .filter(
        (F.col("Delay_from_due_date").cast("float").isNotNull())
    )
    .filter(
        (F.col("Num_of_Delayed_Payment").cast("float").isNotNull())
    )
    .filter(
        (F.col("Changed_Credit_Limit").cast("float").isNotNull())
    )
    .filter(
        (F.col("Num_Credit_Inquiries").cast("float").isNotNull())
    )
    .filter(
        (F.col("Outstanding_Debt").cast("float").isNotNull())
    )
    .filter(
        (F.col("Credit_Utilization_Ratio").cast("float").isNotNull())
    )
    .filter(
        (F.col("Total_EMI_per_month").cast("float").isNotNull())
    )
    .filter(
        (F.col("Amount_invested_monthly").cast("float").isNotNull())
    )
    .filter(
        (F.col("Monthly_Balance").cast("float").isNotNull())
    )
)
rawDF_filtered.count()

53067

Seguro se puede optimizar pero es lo más sencillo que puedo hacer

In [102]:
(
    rawDF_filtered
    .groupBy("Month", "Customer_ID") 
    .count()
    .groupBy("Month")
    .agg(F.countDistinct("Customer_ID").alias("Clientes_unicos"))
).show()

+--------+---------------+
|   Month|Clientes_unicos|
+--------+---------------+
|    July|           6738|
|February|           6513|
| January|           6626|
|   March|           6589|
|     May|           6629|
|  August|           6665|
|   April|           6654|
|    June|           6653|
+--------+---------------+

Nos vamos a quedar con los clientes que tienen todos los meses completos

In [103]:
customers_with_8_months = (
    rawDF_filtered
    .groupBy("Customer_ID")
    .agg(F.collect_set("Month").alias("Months"))
    .filter(F.size("Months") == 8)
)

filtered_df = rawDF_filtered.join(
    customers_with_8_months.select("Customer_ID"),
    on="Customer_ID",
    how="inner"
)

In [ ]:
filtered_df.show(truncate=False)

+-----------+------+--------+-------+---+-----------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+----------------------+---------------------+-------------------+-----------------------+--------------------------------+------------------+------------+
|Customer_ID|ID    |Month   |Name   |Age|SSN        |Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Type_of_Loan                                                                                                                  |Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|Credit_History_Age    |Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|Payment_Behaviour               |Monthly_Balance   |Credit_Score|
+-----------+------+--------+-------+---+-----------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+----------------------+---------------------+-------------------+-----------------------+--------------------------------+------------------+------------+
|CUS_0x3e85 |0x20d6|January |Julienz|24 |863-16-6413|Musician  |142113.96    |11903.83             |6                |4              |17           |3          |Payday Loan, Home Equity Loan, and Personal Loan                                                                              |16                 |12                    |18.1                |8.0                 |Standard  |1037.68         |38.43515845054853       |22 Years and 3 Months |Yes                  |224.12213859526557 |247.7038275977354      |High_spent_Large_value_payments |958.557033806999  |Standard    |
|CUS_0x3e85 |0x20d7|February|Julienz|24 |863-16-6413|Musician  |142113.96    |11903.83             |6                |4              |17           |3          |Payday Loan, Home Equity Loan, and Personal Loan                                                                              |22                 |14                    |18.1                |8.0                 |Standard  |1037.68         |41.190907977815904      |22 Years and 4 Months |Yes                  |224.12213859526557 |186.90976056255286     |High_spent_Large_value_payments |1019.3511008421815|Standard    |
|CUS_0x3e85 |0x20d8|March   |Julienz|24 |863-16-6413|Musician  |142113.96    |11903.83             |6                |4              |17           |3          |Payday Loan, Home Equity Loan, and Personal Loan                                                                              |21                 |12                    |18.1                |8.0                 |Standard  |1037.68         |35.557667546567835      |22 Years and 5 Months |Yes                  |224.12213859526557 |303.75546268504786     |High_spent_Medium_value_payments|912.5053987196866 |Standard    |
|CUS_0x3e85 |0x20d9|April   |Julienz|25 |863-16-6413|Musician  |142113.96    |11903.83             |6                |4              |17           |3          |Payday Loan, Home Equity Loan, and Personal Loan                                                                              |21                 |13                    |18.1                |9.0                 |_         |1037.68         |41.532137042097844      |22 Years and 6 Months |NM                   |224.12213859526557 |539.3393474064857      |Low_spent_Medium_value_payments |706.9215139982488 |Standard    |
|CUS_0x3e85 |0x20da|May     |Julienz|25 |863-16-6413|Musician  |142113.96    |11903.83             |6                |4              |17           |3          |Payday Loan, Home Equity Loan, and Personal Loan                                                                              |21                 |12                    |18.1                |9.0                 |Standard  |1037.68         |38.115683177158616      |22 Years and 7 Months |NM                   |224.12213859526557 |716.3027905911829      |Low_spent_Large_value_payments  |519.9580708135517 |Standard    |
|CUS_0x3e85 |0x20db|June    |NULL   |25 |863-16-6413|Musician  |142113.96    |11903.83             |6                |4              |17           |3          |Payday Loan, Home Equity Loan, and Personal Loan                                                                              |21                 |12                    |18.1                |9.0                 |_         |1037.68         |36.41980578912396       |22 Years and 8 Months |Yes                  |224.12213859526557 |442.26788352300895     |High_spent_Medium_value_payments|773.9929778817253 |Standard    |
|CUS_0x3e85 |0x20dc|July    |Julienz|25 |863-16-6413|Musician  |142113.96    |11903.83             |6                |4              |17           |3          |Payday Loan, Home Equity Loan, and Personal Loan                                                                              |21                 |12                    |18.1                |9.0                 |Standard  |1037.68         |27.51389788794978       |22 Years and 9 Months |Yes                  |224.12213859526557 |389.75184821298484     |!@9#%8                          |846.5090131917495 |Standard    |
|CUS_0x3e85 |0x20dd|August  |Julienz|25 |863-16-6413|Musician  |142113.96    |11903.83             |6                |4              |17           |3          |Payday Loan, Home Equity Loan, and Personal Loan                                                                              |18                 |12                    |18.1                |9.0                 |Standard  |1037.68         |30.667485965080882      |22 Years and 10 Months|Yes                  |224.12213859526557 |104.15742676324274     |High_spent_Large_value_payments |1102.1034346414917|Standard    |
|CUS_0xab00 |0x217e|January |Markx  |18 |468-20-7719|Manager   |31633.54     |2930.1283333333336   |1                |5              |8            |3          |Credit-Builder Loan, Personal Loan, and Mortgage Loan                                                                         |8                  |8                     |9.7                 |3.0                 |Good      |846.45          |25.486023329452838      |21 Years and 8 Months |No                   |50.76844004205578  |200.90420000578888     |Low_spent_Small_value_payments  |331.34019328548874|Poor        |
|CUS_0xab00 |0x217f|February|Markx  |18 |468-20-7719|Manager   |31633.54     |2930.1283333333336   |1                |5              |8            |3          |Credit-Builder Loan, Personal Loan, and Mortgage Loan                                                                         |8                  |8                     |9.7                 |3.0                 |Good      |846.45          |29.29859995597252       |NA                    |No                   |50.76844004205578  |78.20804976697478      |High_spent_Small_value_payments |424.0363435243028 |Poor        |
|CUS_0xab00 |0x2180|March   |NULL   |18 |468-20-7719|Manager   |31633.54     |2930.1283333333336   |1                |5              |8            |3          |Credit-Builder Loan, Personal Loan, and Mortgage Loan                                                                         |8                  |5                     |9.7                 |3.0                 |Good      |846.45          |26.31214177174234       |21 Years and 10 Months|No                   |50.76844004205578  |216.6493582592965      |Low_spent_Large_value_payments  |295.5950350319811 |Standard    |
|CUS_0xab00 |0x2181|April   |NULL   |18 |468-20-7719|Manager   |31633.54     |2930.1283333333336   |1                |5              |8            |3          |Credit-Builder Loan, Personal Loan, and Mortgage Loan                                                                         |8                  |7                     |9.7                 |3.0                 |Good      |846.45          |39.26840999582976       |21 Years and 11 Months|No                   |50.76844004205578  |196.4863174539641      |High_spent_Small_value_payments |305.7580758373135 |Standard    |
|CUS_0xab00 |0x2182|May     |Markx  |18 |468-20-7719|Manager   |31633.54     |2930.1283333333336   |1                |5              |8            |3          |Credit-Builder Loan, Personal Loan, and Mortgage Loan                                                                         |3                  |7                     |9.7                 |3.0                 |_         |846.45          |29.310408247978174      |22 Years and 0 Months |No                   |50.76844004205578  |159.6148515699002      |Low_spent_Small_value_payments  |372.6295417213775 |Poor        |
|CUS_0xab00 |0x2183|June    |Markx  |18 |468-20-7719|Manager   |31633.54     |2930.1283333333336   |1                |5              |8            |3          |Credit-Builder Loan, Personal Loan, and Mortgage Loan                                                                         |8                  |5                     |9.7                 |3.0                 |Good      |846.45          |38.26046773145267       |22 Years and 1 Months |No                   |50.76844004205578  |174.00000906126056     |Low_spent_Small_value_payments  |358.2443842300171 |Poor        |
|CUS_0xab00 |0x2184|July    |Markx  |18 |468-20-7719|Manager   |31633.54     |2930.1283333333336   |1                |5              |8            |3          |Credit-Builder Loan, Personal Loan, and Mortgage Loan                                                                         |6                  |6                     |12.7                |4.0                 |Good      |846.45          |37.934664745348684      |22 Years and 2 Months |No                   |50.76844004205578  |275.759794928842       |Low_spent_Medium_value_payments |246.4845983624356 |Poor        |
|CUS_0xab00 |0x2185|August  |Markx  |18 |468-20-7719|Manager   |31633.54     |2930.1283333333336   |1                |5              |8            |3          |Credit-Builder Loan, Personal Loan, and Mortgage Loan                                                                         |8                  |7                     |9.7                 |4.0                 |Good      |846.45          |35.003637556931764      |22 Years and 3 Months |NM                   |50.76844004205578  |136.63816954931966     |High_spent_Small_value_payments |365.60622374195793|Poor        |
|CUS_0x3f47 |0x245a|January |Ridleyc|34 |393-00-8916|Musician  |53071.47     |4656.6225            |8                |5              |5645         |8          |Student Loan, Student Loan, Mortgage Loan, Payday Loan, Home Equity Loan, Mortgage Loan, Credit-Builder Loan, and Student Loan|44                 |19                    |8.05                |10.0                |Bad       |1740.38         |36.26215985508929       |NA                    |NM                   |208.4834480479053  |60.72245822211172      |!@9#%8                          |446.45634372998296|Poor        |
|CUS_0x3f47 |0x245b|February|NULL   |34 |#F%$D@*&8  |Musician  |53071.47     |4656.6225            |8                |5              |21           |8          |Student Loan, Student Loan, Mortgage Loan, Payday Loan, Home Equity Loan, Mortgage Loan, Credit-Builder Loan, and Student Loan|44                 |17                    |4.050000000000002   |10.0                |_         |1740.38         |29.99882275038287       |18 Years and 8 Months |Yes                  |208.4834480479053  |77.5710920616907       |High_spent_Medium_value_payments|429.60770989040407|Poor        |
|CUS_0x3f47 |0x245c|March   |Ridleyc|34 |393-00-8916|Musician  |53071.47     |4656.6225            |8                |5              |21           |8          |Student Loan, Student Loan, Mortgage Loan, Payday Loan, Home Equity Loan, Mortgage Loan, Credit-Builder Loan, and Student Loan|49                 |19                    |8.05                |10.0                |Bad       |1740.38         |32.137392245001195      |18 Years and 9 Months |Yes                  |208.4834480479053  |451.5421441365231      |Low_spent_Small_value_payments  |95.63665781557164 |Poor        |
|CUS_0x3f47 |0x245d|April   |Ridleyc|35 |393-00-8916|Musician  |53071.47     |4656.6225            |8                |5              |21           |8          |Student Loan, Student Loan, Mortgage Loan, Payday Loan, Home Equity Loan, Mortgage Loan, Credit-Builder Loan, and Student Loan|44                 |19                    |8.05                |10.0                |Bad       |1740.38         |25.45298987914012       |18 Years and 10 Months|Yes                  |67482.0            |76.30682513210726      |High_spent_Large_value_payments |420.8719768199875 |Standard    |
+-----------+------+--------+-------+---+-----------+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+----------------------+---------------------+-------------------+-----------------------+--------------------------------+------------------+------------+
only showing top 20 rows

Validar datos

¿Cuántos registros por mes hay?

In [105]:
(
    filtered_df
    .groupBy("Month", "Customer_ID") 
    .count()
    .groupBy("Month")
    .agg(F.countDistinct("Customer_ID").alias("Clientes_unicos"))
).show()

+--------+---------------+
|   Month|Clientes_unicos|
+--------+---------------+
|    July|             73|
|February|             73|
| January|             73|
|   March|             73|
|     May|             73|
|  August|             73|
|   April|             73|
|    June|             73|
+--------+---------------+

Sólo me quedaré con las columnas que me hacen algo de sentido para procesarlos fácilmente. Para eso se requiere de negocio. Para el resto de las variables numéricas lo que haría es quitar aquellos que estén fuera del IQR por ejemplo, también checar la distribución etc. Pero por tiempo lo dejaré hasta aquí.

La idea es al menos garantizar que tengo el mismo cliente durante todo el tiempo de análisis.

Variables que no se procesaran pero son importantes:

`Type_of_Loan` Es importante pero como son varias las que están en un arreglo tardaría en procesarlo, así que no la consideraré.

`Credit_Mix` Se elimina por que hay muchos faltantes.

`Credit_History_Age` Se elimina por practicidad, pero se puede extraer buena información procesandola.

`Payment_Behaviour` Se dejara para pruebas.

Se podría considerar la nulidad del 80% pero no se considerará por tiempo.

In [ ]:
Data type string of column Annual_Income is not supported.
Data type string of column Num_of_Loan is not supported.
Data type string of column Num_of_Delayed_Payment is not supported.
Data type string of column Changed_Credit_Limit is not supported.
Data type string of column Outstanding_Debt is not supported.
Data type string of column Amount_invested_monthly is not supported.
Data type string of column Monthly_Balance is not supported.

In [178]:
df_clean = (
    filtered_df
    .drop("ID", "Name", "SSN", "Type_of_Loan", "Credit_Mix", "Credit_History_Age")
    .select(
        "*",
        (F.col("Annual_Income").cast("float")).alias("Annual_Income"),
        (F.col("Num_of_Loan").cast("float")).alias("Num_of_Loan"),
        (F.col("Num_of_Delayed_Payment").cast("float")).alias("Num_of_Delayed_Payment"),
        (F.col("Changed_Credit_Limit").cast("float")).alias("Changed_Credit_Limit"),
        (F.col("Outstanding_Debt").cast("float")).alias("Outstanding_Debt"),
        (F.col("Amount_invested_monthly").cast("float")).alias("Amount_invested_monthly"),
        (F.col("Monthly_Balance").cast("float")).alias("Monthly_Balance"),
        (F.col("Age").cast("float")).alias("Age")
    )
)
df_clean.show(5)

+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+------------------+------------+-------------+-----------+----------------------+--------------------+----------------+-----------------------+---------------+----+
|Customer_ID|   Month|Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Outstanding_Debt|Credit_Utilization_Ratio|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|   Monthly_Balance|Credit_Score|Annual_Income|Num_of_Loan|Num_of_Delayed_Payment|Changed_Credit_Limit|Outstanding_Debt|Amount_invested_monthly|Monthly_Balance| Age|
+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+------------------+------------+-------------+-----------+----------------------+--------------------+----------------+-----------------------+---------------+----+
| CUS_0x3e85| January| 24|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 16|                    12|                18.1|                 8.0|         1037.68|       38.43515845054853|                  Yes| 224.12213859526557|      247.7038275977354|High_spent_Large_...|  958.557033806999|    Standard|    142113.95|        3.0|                  12.0|                18.1|         1037.68|              247.70383|        958.557|24.0|
| CUS_0x3e85|February| 24|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 22|                    14|                18.1|                 8.0|         1037.68|      41.190907977815904|                  Yes| 224.12213859526557|     186.90976056255286|High_spent_Large_...|1019.3511008421815|    Standard|    142113.95|        3.0|                  14.0|                18.1|         1037.68|              186.90976|      1019.3511|24.0|
| CUS_0x3e85|   March| 24|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 21|                    12|                18.1|                 8.0|         1037.68|      35.557667546567835|                  Yes| 224.12213859526557|     303.75546268504786|High_spent_Medium...| 912.5053987196866|    Standard|    142113.95|        3.0|                  12.0|                18.1|         1037.68|              303.75546|       912.5054|24.0|
| CUS_0x3e85|   April| 25|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 21|                    13|                18.1|                 9.0|         1037.68|      41.532137042097844|                   NM| 224.12213859526557|      539.3393474064857|Low_spent_Medium_...| 706.9215139982488|    Standard|    142113.95|        3.0|                  13.0|                18.1|         1037.68|              539.33936|       706.9215|25.0|
| CUS_0x3e85|     May| 25|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 21|                    12|                18.1|                 9.0|         1037.68|      38.115683177158616|                   NM| 224.12213859526557|      716.3027905911829|Low_spent_Large_v...| 519.9580708135517|    Standard|    142113.95|        3.0|                  12.0|                18.1|         1037.68|               716.3028|      519.95807|25.0|
+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+------------------+------------+-------------+-----------+----------------------+--------------------+----------------+-----------------------+---------------+----+
only showing top 5 rows

In [179]:
df_clean = filtered_df.drop("ID", "Name", "SSN", "Type_of_Loan", "Credit_Mix", "Credit_History_Age")

df_clean = df_clean.withColumn("Annual_Income", F.col("Annual_Income").cast("float"))
df_clean = df_clean.withColumn("Num_of_Loan", F.col("Num_of_Loan").cast("float"))
df_clean = df_clean.withColumn("Num_of_Delayed_Payment", F.col("Num_of_Delayed_Payment").cast("float"))
df_clean = df_clean.withColumn("Changed_Credit_Limit", F.col("Changed_Credit_Limit").cast("float"))
df_clean = df_clean.withColumn("Outstanding_Debt", F.col("Outstanding_Debt").cast("float"))
df_clean = df_clean.withColumn("Amount_invested_monthly", F.col("Amount_invested_monthly").cast("float"))
df_clean = df_clean.withColumn("Monthly_Balance", F.col("Monthly_Balance").cast("float"))
df_clean = df_clean.withColumn("Age", F.col("Age").cast("float"))

df_clean.show(5)

+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+
|Customer_ID|   Month| Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Outstanding_Debt|Credit_Utilization_Ratio|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|Monthly_Balance|Credit_Score|
+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+
| CUS_0x3e85| January|24.0|  Musician|    142113.95|             11903.83|                6|              4|           17|        3.0|                 16|                  12.0|                18.1|                 8.0|         1037.68|       38.43515845054853|                  Yes| 224.12213859526557|              247.70383|High_spent_Large_...|        958.557|    Standard|
| CUS_0x3e85|February|24.0|  Musician|    142113.95|             11903.83|                6|              4|           17|        3.0|                 22|                  14.0|                18.1|                 8.0|         1037.68|      41.190907977815904|                  Yes| 224.12213859526557|              186.90976|High_spent_Large_...|      1019.3511|    Standard|
| CUS_0x3e85|   March|24.0|  Musician|    142113.95|             11903.83|                6|              4|           17|        3.0|                 21|                  12.0|                18.1|                 8.0|         1037.68|      35.557667546567835|                  Yes| 224.12213859526557|              303.75546|High_spent_Medium...|       912.5054|    Standard|
| CUS_0x3e85|   April|25.0|  Musician|    142113.95|             11903.83|                6|              4|           17|        3.0|                 21|                  13.0|                18.1|                 9.0|         1037.68|      41.532137042097844|                   NM| 224.12213859526557|              539.33936|Low_spent_Medium_...|       706.9215|    Standard|
| CUS_0x3e85|     May|25.0|  Musician|    142113.95|             11903.83|                6|              4|           17|        3.0|                 21|                  12.0|                18.1|                 9.0|         1037.68|      38.115683177158616|                   NM| 224.12213859526557|               716.3028|Low_spent_Large_v...|      519.95807|    Standard|
+-----------+--------+----+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+
only showing top 5 rows

In [180]:
df_clean.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Age: float (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Annual_Income: float (nullable = true)
 |-- Monthly_Inhand_Salary: double (nullable = true)
 |-- Num_Bank_Accounts: integer (nullable = true)
 |-- Num_Credit_Card: integer (nullable = true)
 |-- Interest_Rate: integer (nullable = true)
 |-- Num_of_Loan: float (nullable = true)
 |-- Delay_from_due_date: integer (nullable = true)
 |-- Num_of_Delayed_Payment: float (nullable = true)
 |-- Changed_Credit_Limit: float (nullable = true)
 |-- Num_Credit_Inquiries: double (nullable = true)
 |-- Outstanding_Debt: float (nullable = true)
 |-- Credit_Utilization_Ratio: double (nullable = true)
 |-- Payment_of_Min_Amount: string (nullable = true)
 |-- Total_EMI_per_month: double (nullable = true)
 |-- Amount_invested_monthly: float (nullable = true)
 |-- Payment_Behaviour: string (nullable = true)
 |-- Monthly_Balance: float (nullable = true)
 |-- Credit_Score: string (nullable = true)

# Creación del pipeline del modelo.

In [181]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler

from pyspark.ml.classification import DecisionTreeClassifier

Probablemente al poner aleatorio todo, no me llevaría los cientes correctamente, pero para fines de prueba lo dejaré así.

Lo correcto es tomar el 80 % de clientes únicos y probar con el resto de los 20

In [182]:
df_train, df_test = df_clean.randomSplit([0.8,0.2], seed=43)

### Transformación de los datos

Cuando utilizamos árboles de decisión no debemos utilizar one-hot enconding para las variables categóricas. Sin embargo, si es necesario codificarlas como variables categóricas numéricas.

In [183]:
#--Si la columna es de tipo texto, la designamos como categórica
categoricalCols = [field for (field, dataType) in df_train.dtypes if dataType == "string"]

#--creamos los nombres de salida
indexOutputCols = [x + "Index" for x in categoricalCols]

#--definimos nuestro transformador
stringIndexer = StringIndexer(inputCols=categoricalCols,
                              outputCols=indexOutputCols,
                              handleInvalid="skip")

In [184]:
#--selecionamos las columnas numéricas excepto la variable respuesta
numericCols = [field for (field, dataType) in df_train.dtypes if ((dataType == "double") & (field != "price"))]

#--combinamos los nombres de variables categóricas (salida stringIndexer) y las numéricas
assemblerInputs = indexOutputCols + numericCols

#--se combinan todos los atributos en una sola columna
vecAssembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")

## Árbol de decisión

El primer algoritmo que vamos a entrenar, es un árbol de decisión

In [185]:
#--definimos nuestro estimador
dt_model = DecisionTreeClassifier(labelCol="Credit_Score")

In [186]:
#--definimos el estimador pipeline
pipeline = Pipeline(stages=[stringIndexer,
                            vecAssembler,
                            dt_model])

#--lo entrenamos
pipelineModel = pipeline.fit(df_train)

IllegalArgumentException: requirement failed: Column Credit_Score must be of type numeric but was actually of type string.

In [163]:

# Construct a pipeline
pipeline = Pipeline(stages=[indexer, onehot, assembler, regression])

# Train the pipeline on the training data
pipeline = pipeline.fit(flights_train)

# Make predictions on the testing data
predictions = pipeline.transform(flights_test)

NameError: name 'indexer' is not defined

Confusion matrix

In [ ]:
prediction.groupBy("label", "prediction").count().show()

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator()
evaluator.evaluate(prediction, {evaluator.metricName: 'weightedPrecision'})
evaluator.evaluate(prediction, {evaluator.metricName: 'accuracy'})

In [187]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler, OneHotEncoder
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [129]:
df_clean.show()

+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+------------------+------------+
|Customer_ID|   Month|Age|Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Outstanding_Debt|Credit_Utilization_Ratio|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|   Monthly_Balance|Credit_Score|
+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+------------------+------------+
| CUS_0x3e85| January| 24|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 16|                    12|                18.1|                 8.0|         1037.68|       38.43515845054853|                  Yes| 224.12213859526557|      247.7038275977354|High_spent_Large_...|  958.557033806999|    Standard|
| CUS_0x3e85|February| 24|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 22|                    14|                18.1|                 8.0|         1037.68|      41.190907977815904|                  Yes| 224.12213859526557|     186.90976056255286|High_spent_Large_...|1019.3511008421815|    Standard|
| CUS_0x3e85|   March| 24|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 21|                    12|                18.1|                 8.0|         1037.68|      35.557667546567835|                  Yes| 224.12213859526557|     303.75546268504786|High_spent_Medium...| 912.5053987196866|    Standard|
| CUS_0x3e85|   April| 25|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 21|                    13|                18.1|                 9.0|         1037.68|      41.532137042097844|                   NM| 224.12213859526557|      539.3393474064857|Low_spent_Medium_...| 706.9215139982488|    Standard|
| CUS_0x3e85|     May| 25|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 21|                    12|                18.1|                 9.0|         1037.68|      38.115683177158616|                   NM| 224.12213859526557|      716.3027905911829|Low_spent_Large_v...| 519.9580708135517|    Standard|
| CUS_0x3e85|    June| 25|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 21|                    12|                18.1|                 9.0|         1037.68|       36.41980578912396|                  Yes| 224.12213859526557|     442.26788352300895|High_spent_Medium...| 773.9929778817253|    Standard|
| CUS_0x3e85|    July| 25|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 21|                    12|                18.1|                 9.0|         1037.68|       27.51389788794978|                  Yes| 224.12213859526557|     389.75184821298484|              !@9#%8| 846.5090131917495|    Standard|
| CUS_0x3e85|  August| 25|  Musician|    142113.96|             11903.83|                6|              4|           17|          3|                 18|                    12|                18.1|                 9.0|         1037.68|      30.667485965080882|                  Yes| 224.12213859526557|     104.15742676324274|High_spent_Large_...|1102.1034346414917|    Standard|
| CUS_0xab00| January| 18|   Manager|     31633.54|   2930.1283333333336|                1|              5|            8|          3|                  8|                     8|                 9.7|                 3.0|          846.45|      25.486023329452838|                   No|  50.76844004205578|     200.90420000578888|Low_spent_Small_v...|331.34019328548874|        Poor|
| CUS_0xab00|February| 18|   Manager|     31633.54|   2930.1283333333336|                1|              5|            8|          3|                  8|                     8|                 9.7|                 3.0|          846.45|       29.29859995597252|                   No|  50.76844004205578|      78.20804976697478|High_spent_Small_...| 424.0363435243028|        Poor|
| CUS_0xab00|   March| 18|   Manager|     31633.54|   2930.1283333333336|                1|              5|            8|          3|                  8|                     5|                 9.7|                 3.0|          846.45|       26.31214177174234|                   No|  50.76844004205578|      216.6493582592965|Low_spent_Large_v...| 295.5950350319811|    Standard|
| CUS_0xab00|   April| 18|   Manager|     31633.54|   2930.1283333333336|                1|              5|            8|          3|                  8|                     7|                 9.7|                 3.0|          846.45|       39.26840999582976|                   No|  50.76844004205578|      196.4863174539641|High_spent_Small_...| 305.7580758373135|    Standard|
| CUS_0xab00|     May| 18|   Manager|     31633.54|   2930.1283333333336|                1|              5|            8|          3|                  3|                     7|                 9.7|                 3.0|          846.45|      29.310408247978174|                   No|  50.76844004205578|      159.6148515699002|Low_spent_Small_v...| 372.6295417213775|        Poor|
| CUS_0xab00|    June| 18|   Manager|     31633.54|   2930.1283333333336|                1|              5|            8|          3|                  8|                     5|                 9.7|                 3.0|          846.45|       38.26046773145267|                   No|  50.76844004205578|     174.00000906126056|Low_spent_Small_v...| 358.2443842300171|        Poor|
| CUS_0xab00|    July| 18|   Manager|     31633.54|   2930.1283333333336|                1|              5|            8|          3|                  6|                     6|                12.7|                 4.0|          846.45|      37.934664745348684|                   No|  50.76844004205578|       275.759794928842|Low_spent_Medium_...| 246.4845983624356|        Poor|
| CUS_0xab00|  August| 18|   Manager|     31633.54|   2930.1283333333336|                1|              5|            8|          3|                  8|                     7|                 9.7|                 4.0|          846.45|      35.003637556931764|                   NM|  50.76844004205578|     136.63816954931966|High_spent_Small_...|365.60622374195793|        Poor|
| CUS_0x3f47| January| 34|  Musician|     53071.47|            4656.6225|                8|              5|         5645|          8|                 44|                    19|                8.05|                10.0|         1740.38|       36.26215985508929|                   NM|  208.4834480479053|      60.72245822211172|              !@9#%8|446.45634372998296|        Poor|
| CUS_0x3f47|February| 34|  Musician|     53071.47|            4656.6225|                8|              5|           21|          8|                 44|                    17|   4.050000000000002|                10.0|         1740.38|       29.99882275038287|                  Yes|  208.4834480479053|       77.5710920616907|High_spent_Medium...|429.60770989040407|        Poor|
| CUS_0x3f47|   March| 34|  Musician|     53071.47|            4656.6225|                8|              5|           21|          8|                 49|                    19|                8.05|                10.0|         1740.38|      32.137392245001195|                  Yes|  208.4834480479053|      451.5421441365231|Low_spent_Small_v...| 95.63665781557164|        Poor|
| CUS_0x3f47|   April| 35|  Musician|     53071.47|            4656.6225|                8|              5|           21|          8|                 44|                    19|                8.05|                10.0|         1740.38|       25.45298987914012|                  Yes|            67482.0|      76.30682513210726|High_spent_Large_...| 420.8719768199875|    Standard|
+-----------+--------+---+----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+------------------+------------+
only showing top 20 rows

In [164]:
df_clean.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Annual_Income: string (nullable = true)
 |-- Monthly_Inhand_Salary: double (nullable = true)
 |-- Num_Bank_Accounts: integer (nullable = true)
 |-- Num_Credit_Card: integer (nullable = true)
 |-- Interest_Rate: integer (nullable = true)
 |-- Num_of_Loan: string (nullable = true)
 |-- Delay_from_due_date: integer (nullable = true)
 |-- Num_of_Delayed_Payment: string (nullable = true)
 |-- Changed_Credit_Limit: string (nullable = true)
 |-- Num_Credit_Inquiries: double (nullable = true)
 |-- Outstanding_Debt: string (nullable = true)
 |-- Credit_Utilization_Ratio: double (nullable = true)
 |-- Payment_of_Min_Amount: string (nullable = true)
 |-- Total_EMI_per_month: double (nullable = true)
 |-- Amount_invested_monthly: string (nullable = true)
 |-- Payment_Behaviour: string (nullable = true)
 |-- Monthly_Balance: string (nullable = true)
 |-- Credit_Score: string (nullable = true)
 |-- Annual_Income: float (nullable = true)
 |-- Num_of_Loan: float (nullable = true)
 |-- Num_of_Delayed_Payment: float (nullable = true)
 |-- Changed_Credit_Limit: float (nullable = true)
 |-- Outstanding_Debt: float (nullable = true)
 |-- Amount_invested_monthly: float (nullable = true)
 |-- Monthly_Balance: float (nullable = true)
 |-- Monthly_Balance: float (nullable = true)

In [188]:
Cat_cols = ["Customer_ID", "Month", "Occupation", "Payment_of_Min_Amount", "Payment_Behaviour", "Credit_Score"]
indexOutputCols = [x + "Index" for x in Cat_cols]
Num_cols = ["Age", "Annual_Income", "Monthly_Inhand_Salary", "Num_Bank_Accounts", "Num_Credit_Card",
            "Interest_Rate", "Num_of_Loan", "Delay_from_due_date", "Num_of_Delayed_Payment",
            "Changed_Credit_Limit", "Num_Credit_Inquiries", "Outstanding_Debt", "Credit_Utilization_Ratio",
            "Total_EMI_per_month", "Amount_invested_monthly", "Monthly_Balance"]

In [152]:
len(Cat_cols)

6

In [151]:
indexOutputCols

['Customer_IDIndex',
 'MonthIndex',
 'OccupationIndex',
 'Payment_of_Min_AmountIndex',
 'Payment_BehaviourIndex',
 'Credit_ScoreIndex']

In [189]:
label_indexer = StringIndexer(inputCols=Cat_cols, outputCols=indexOutputCols)
data = label_indexer.fit(df_clean).transform(df_clean)

assembler = VectorAssembler(inputCols=Num_cols, outputCol="features")
data = assembler.transform(data)

In [194]:
data = data.withColumn("label", F.col("Credit_ScoreIndex"))

In [195]:
# Split data into training and testing sets
train_data, test_data = data.randomSplit([0.8, 0.2], seed=42)

In [196]:
train_data.show()

+-----------+--------+----+------------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+----------------+----------+---------------+--------------------------+----------------------+-----------------+--------------------+-----+
|Customer_ID|   Month| Age|  Occupation|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Outstanding_Debt|Credit_Utilization_Ratio|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|Monthly_Balance|Credit_Score|Customer_IDIndex|MonthIndex|OccupationIndex|Payment_of_Min_AmountIndex|Payment_BehaviourIndex|Credit_ScoreIndex|            features|label|
+-----------+--------+----+------------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+----------------+----------+---------------+--------------------------+----------------------+-----------------+--------------------+-----+
| CUS_0x1044|   April|44.0|Entrepreneur|     33441.59|    2748.799166666666|                2|              4|            1|        0.0|                  5|                   3.0|                9.58|                 5.0|          154.96|       26.46614931113924|                   No|                0.0|              169.28815|Low_spent_Large_v...|      375.59177|    Standard|             0.0|       0.0|           10.0|                       1.0|                   5.0|              0.0|[44.0,33441.58984...|  0.0|
| CUS_0x1044|  August|44.0|     _______|     33441.59|    2748.799166666666|                2|              4|            1|        0.0|                  1|                   4.0|                9.58|                 5.0|          154.96|      35.984108540767004|                   No|                0.0|              229.53226|Low_spent_Small_v...|      335.34766|    Standard|             0.0|       1.0|            3.0|                       1.0|                   0.0|              0.0|[44.0,33441.58984...|  0.0|
| CUS_0x1044| January|44.0|Entrepreneur|     33441.59|    2748.799166666666|                2|              4|            1|        0.0|                  5|                   4.0|               14.58|                 1.0|          154.96|      22.913387563135338|                   No|                0.0|              186.91203|High_spent_Small_...|      347.96786|    Standard|             0.0|       3.0|           10.0|                       1.0|                   4.0|              0.0|[44.0,33441.58984...|  0.0|
| CUS_0x1044|    July|44.0|Entrepreneur|     33441.59|    2748.799166666666|                2|              4|            1|        0.0|                  1|                   3.0|               12.58|                 5.0|          154.96|       38.11727216288301|                   No|                0.0|              69.980896|High_spent_Large_...|      444.89902|    Standard|             0.0|       4.0|           10.0|                       1.0|                   3.0|              0.0|[44.0,33441.58984...|  0.0|
| CUS_0x1044|    June|44.0|Entrepreneur|     33441.59|    2748.799166666666|                2|              4|            1|        0.0|                  1|                   4.0|                9.58|                 5.0|          154.96|      25.647558819502954|                   NM|                0.0|               158.1958|High_spent_Small_...|       376.6841|    Standard|             0.0|       5.0|           10.0|                       2.0|                   4.0|              0.0|[44.0,33441.58984...|  0.0|
| CUS_0x1044|     May|44.0|Entrepreneur|     33441.59|    2748.799166666666|                2|              4|            1|        0.0|                  1|                   6.0|                9.58|                 5.0|          154.96|       29.16522577718451|                   No|                0.0|              96.050354|High_spent_Medium...|      428.82956|    Standard|             0.0|       7.0|           10.0|                       1.0|                   1.0|              0.0|[44.0,33441.58984...|  0.0|
| CUS_0x1096|  August|43.0|      Lawyer|     12931.56|              1348.63|                4|              4|            9|        3.0|                 18|                  20.0|               18.51|                 3.0|          752.86|       27.70974959154035|                  Yes| 20.579154708485927|              105.56661|Low_spent_Small_v...|      298.71722|        Poor|             1.0|       1.0|            5.0|                       0.0|                   0.0|              1.0|[43.0,12931.55957...|  1.0|
| CUS_0x1096|February|42.0|      Lawyer|     12931.56|              1348.63|                4|           1032|            9|        3.0|                 19|                  20.0|               18.51|                 3.0|          752.86|      23.209329496944303|                  Yes| 20.579154708485927|              62.113018|Low_spent_Large_v...|      322.17084|    Standard|             1.0|       2.0|            5.0|                       0.0|                   5.0|              0.0|[42.0,12931.55957...|  0.0|
| CUS_0x1096| January|42.0|      Lawyer|     12931.56|              1348.63|                4|              4|            9|        3.0|                 21|                  20.0|               18.51|                 3.0|          752.86|      38.243219918961024|                   NM| 20.579154708485927|              34.266483|High_spent_Large_...|      320.01736|    Standard|             1.0|       3.0|            5.0|                       2.0|                   3.0|              0.0|[42.0,12931.55957...|  0.0|
| CUS_0x1096|    July|43.0|      Lawyer|     12931.56|              1348.63|                4|              4|         3658|        3.0|                 19|                  20.0|               18.51|                 3.0|          752.86|      33.791644415490815|                  Yes| 20.579154708485927|              180.76686|              !@9#%8|      223.51698|        Poor|             1.0|       4.0|            5.0|                       0.0|                   6.0|              1.0|[43.0,12931.55957...|  1.0|
| CUS_0x1096|   March|42.0|      Lawyer|     12931.56|              1348.63|                4|              4|            9|        3.0|                 19|                  19.0|               18.51|                 3.0|          752.86|       25.66078507071405|                  Yes| 20.579154708485927|                63.6678|Low_spent_Small_v...|      340.61606|    Standard|             1.0|       6.0|            5.0|                       0.0|                   0.0|              0.0|[42.0,12931.55957...|  0.0|
| CUS_0x1096|     May|43.0|      Lawyer|     12931.56|              1348.63|                4|              4|            9|        3.0|                 19|                  20.0|               18.51|                 3.0|          752.86|      26.397953012499467|                  Yes| 20.579154708485927|               99.12504|Low_spent_Medium_...|       295.1588|        Poor|             1.0|       7.0|            5.0|                       0.0|                   2.0|              1.0|[43.0,12931.55957...|  1.0|
| CUS_0x1416|   April|19.0|  Accountant|     29651.23|    2460.935833333333|                6|              5|            6|        2.0|                 15|                  15.0|                8.62|                 2.0|         1217.99|        25.2894133248302|                   No|  37.90300631081737|              274.50372|              !@9#%8|      223.68684|    Standard|             2.0|       0.0|            2.0|                       1.0|                   6.0|              0.0|[19.0,29651.23046...|  0.0|
| CUS_0x1416|  August|20.0|  Accountant|     29651.23|    2460.935833333333|                6|              5|            6|        2.0|                 14|                  15.0|                1.62|                 2.0|         1217.99|       23.16531584588695|                   No|  37.90300631081737|               36.60952|High_spent_Large_...|      411.58105|        Good|             2.0|       1.0|            2.0|                       1.0|                   3.0|              2.0|[20.0,29651.23046...|  2.0|
| CUS_0x1416|February|19.0|  Accountant|     29651.23|    2460.935833333333|                6|              5|            6|        2.0|                 14|                  15.0|                8.62|                 2.0|         1217.99|       29.88807346641514|                   No|  37.90300631081737|              170.52211|High_spent_Small_...|      297.66846|    Standard|             2.0|       2.0|            2.0|                       1.0|                   4.0|              0.0|[19.0,29651.23046...|  0.0|
| CUS_0x1416|    July|19.0|  Accountant|     29651.23|    2460.935833333333|                6|              5|            6|        2.0|                 14|                  17.0|                8.62|                 2.0|         1217.99|       41.83535746785105|                   No|  37.90300631081737|               43.91114|High_spent_Medium...|      414.27945|        Good|             2.0|       4.0|            2.0|                       1.0|                   1.0|              2.0|[19.0,29651.23046...|  2.0|
| CUS_0x1416|    June|19.0|  Accountant|     29651.23|    2460.935833333333|                6|              5|            6|        2.0|                 14|                  15.0|                8.62|                 2.0|         1217.99|      38.063942321074975|                   No|  37.90300631081737|               224.3825|              !@9#%8|      273.80807|    Standard|             2.0|       5.0|            2.0|                       1.0|                   6.0|              0.0|[19.0,29651.23046...|  0.0|
| CUS_0x1416|   March|19.0|  Accountant|     29651.23|    2460.935833333333|                6|              5|            6|        2.0|                 14|                  15.0|                8.62|                 2.0|         1217.99|      23.923699590214053|                   No|  37.90300631081737|              104.60363|High_spent_Medium...|      353.58694|    Standard|             2.0|       6.0|            2.0|                       1.0|                   1.0|              0.0|[19.0,29651.23046...|  0.0|
| CUS_0x1551|   April|27.0|Entrepreneur|     16674.01|   1342.5008333333333|                1|              4|            5|        1.0|                 11|                   7.0|                2.03|                 4.0|         1471.88|       35.75039123271383|                   No| 13.632310559757302|              132.75633|Low_spent_Small_v...|      277.86145|        Good|             3.0|       0.0|           10.0|                       1.0|                   0.0|              2.0|[27.0,16674.00976...|  2.0|
| CUS_0x1551|  August|28.0|Entrepreneur|     16674.01|   1342.5008333333333|                1|              4|            5|     -100.0|                 11|                   7.0|               -3.97|                 4.0|         1471.88|      25.695562740420968|                   NM| 13.632310559757302|               39.53111|High_spent_Small_...|      341.08667|        Good|             3.0|       1.0|           10.0|                       2.0|                   4.0|              2.0|[28.0,16674.00976...|  2.0|
+-----------+--------+----+------------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+--------------------+---------------+------------+----------------+----------+---------------+--------------------------+----------------------+-----------------+--------------------+-----+
only showing top 20 rows

In [197]:
dt_classifier = DecisionTreeClassifier(labelCol="label", featuresCol="features")

model = dt_classifier.fit(train_data)

In [198]:
predictions = model.transform(test_data)

evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)

print(f"Test Accuracy: {accuracy:.2f}")

Test Accuracy: 0.74

# Conclusiones


Hay problemas en el casteo de las variables, por lo que el tipo de dato genera problemas. A final lo ideal es guardarlo en un parquet.

Para el tema del modelado, ya contar con un template listo para funcionar antes de tiempo para no tener que crearlo en caliente. 

Considerar tiempo en generar ese modelo base ya que se tiene todo el tema del preprocesamiento listo, pero se demoró mucho en generarlo. Ya que la aproximación probablemente sea la más adecuada la de analizar el cliente a lo largo del tiempo y evaluar otros diferentes. Pero el hacer esto demoró más tiempo de lo esperado.

Olvidé poner bien la etiqueta de label para la variable objetivo para que el modelo corriera.


Nuevo...


Analizar las metricas, hacer validación cruzada o optuna para encontrar los mejores parámetros...

Checar si funciona el modelo en la realidad, llevarlo a producción etc.

También la matriz de confusión y todas las métricas F1 scorre, etc.